<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Zcmh"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Zcmh">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".utils.AlarmReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.zakycodes.zcmh.ACTION_DISMISS" />
                <action android:name="com.zakycodes.zcmh.ACTION_SNOOZE" />
            </intent-filter>
        </receiver>

        <!-- ✅ Music Receiver -->
        <receiver
            android:name=".utils.MusicReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.zakycodes.zcmh.ACTION_PLAY" />
                <action android:name="com.zakycodes.zcmh.ACTION_PAUSE" />
                <action android:name="com.zakycodes.zcmh.ACTION_NEXT" />
                <action android:name="com.zakycodes.zcmh.ACTION_PREVIOUS" />
                <action android:name="com.zakycodes.zcmh.ACTION_STOP" />
            </intent-filter>
        </receiver>

    </application>
</manifest>